body{
  background-color: rgb(33, 33, 33);
  color: rgb(233, 233, 233);
}

.App {
  text-align: center;
  vertical-align: bottom;
}

table, th, td {
  border: 2px solid gray;
  border-collapse: collapse;
}

th, td {
  background-color: rgb(47, 47, 47);
  padding: 1px 3px;
}

.row{
  display: flex;
}

.column50 {
  flex: 50%;
}

.column33 {
  flex: 33%;
}

.left {
  text-align: left;
}

.fa-github{
  color: rgb(230, 230, 230);
  font-size: xx-large;
  margin: 3px 3px;
}