body{
  background-color: rgb(88, 88, 88);
}

.App {
  text-align: center;
  vertical-align: bottom;
}

table, th, td {
  border: 2px solid gray;
  border-collapse: collapse;
}

th, td {
  background-color: rgb(179, 236, 255);
  /* padding: 2px; */
}

.row{
  display: flex;
}

.column50 {
  flex: 50%;
}

.column33 {
  flex: 33%;
}

.fill-vertical{
  height: 50%;
}
